<%- include("../partials/html-head") %>

<link rel="stylesheet" href="/stylesheets/flights/index.css">
  
<%- include("../partials/nav") %>
<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(m => { %>
        <tr>
          <td><%= m.airport %></td>
          <td><%= m.flightNo %></td>
          <td><%= m.departs %></td>
          <td>
            <a href="/flights/<%= m._id %>">DETAILS</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<a href="/flights/new">Add New Flight</a>
<%- include("../partials/footer") %>
